
body {
  margin: 0;
  font-family: "Poiret One", "Avant Garde";
  font-weight: bolder;
}

header {
  display: flex;
  align-items: center;
  height: 130px;
  /*position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;*/
}

/*.name, .div-nav, main {
  position: relative;
}*/

.name {
  width: 60%;
}

.name a:link {
  text-decoration: none;
}
.name a:visited {
  text-decoration: none;
}
.name a:active {
  text-decoration:
}

header h1 {
  font-family: "Bad Script", "Papyrus";
  margin-left: 40px;
  align-self: center;
  color: #383838;
  opacity: .3;
  font-size: 3.4em;
}

.div-nav {
  width: 27%;
}

.nav {
  height: 150px;
  margin-right: 0;
  margin-left: 400px;
  display: inline-flex;
  align-self: center;
}

.nav li {
  align-items: center;
  list-style: none;
  padding: 15px 30px;
  margin-top: 25px;
}

.nav li a {
  line-height: 1.5;
  padding: 10px 0;
  font-size: 30px;
  color: #383838;
  opacity: .8;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0px;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: 'Bad Script';
  font-size: 2.7em;
}

section.module p {
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 1.6em;
}

section.module p:last-child {
  margin-bottom: 100px;
}

section.module.content {
  padding: 40px 0px;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  font-size: 140px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
}

.letter-container a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8)
}
.letter-container a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8)
}
.letter-container a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8)
}

.letter-container h1 a span {
  font-family: "Poiret One";
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
   	opacity: .8;
   	text-shadow: 0px 0px 1px #fff, 1px 1px 4px rgba(0,0,0,0.7);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.9s linear backwards;
	-moz-animation: sharpen 0.9s linear backwards;
	-ms-animation: sharpen 0.9s linear backwards;
	animation: sharpen 0.9s linear backwards;
}

.letter-container h1 a span:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.letter-container h1 a span:nth-child(2) {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.letter-container h1 a span:nth-child(3) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.letter-container h1 a span:nth-child(4) {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.letter-container h1 a span:nth-child(5) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

@keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}

section.module.parallax-1 {
  margin-top: -115px;
  background-image: url("images/ferns.jpeg");
}

section.module.parallax-2 {
  background-image: url("images/succulents_6.jpeg");
}
section.module.parallax-3 {
  background-image: url("images/vines.jpeg");
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 42px;
  height: 50px;
  z-index: 5;
  opacity: .4;
}

.thanks {
  font-family: "Bad Script";
}


/*////CONTACT////*/

.contact-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 120px;
  font-family: "Poiret One";
  display: flex;
  flex-direction: row;
}

.social {
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}

.moi {
  width: 400px;
  border-radius: 360px;
  margin-left: 400px;
  margin-right: 50px;
}

.moi:hover {
  background-image: url("images/upward.jpg");
  width: 400px;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 50px;
}

.resume {
  font-size: 1.5em;
}

.email {
  font-size: 1.5em;
  line-height: 3;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a:link {
  color: black;
  }
.contact a:visited {
  color: black;
  }
.contact a:active {
  color: black;
}

/*////PORTFOLIO////*/

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
  width: 480px;
  height: 500px;
	margin: 0;
	padding: 50px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	width: 420px;
  height: 300px;
  border-radius: 4px;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: -60px;
	left: -70px;
	padding: 40px;
	background: #B7B7B7;
	color: black;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 4px;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: black;
}

.grid figcaption span {
  font-family: "Poiret One", "Avant Garde";
}

.grid figcaption a {
	text-align: center;
	border-radius: 2px;
	display: inline-block;
	color: black;
  font-size: 1em;
  font-weight: bolder;
}

.cs-style-7 li:first-child { z-index: 6; }
.cs-style-7 li:nth-child(2) { z-index: 5; }
.cs-style-7 li:nth-child(3) { z-index: 4; }
.cs-style-7 li:nth-child(4) { z-index: 3; }
/*.cs-style-7 li:nth-child(5) { z-index: 2; }
.cs-style-7 li:nth-child(6) { z-index: 1; }*/

.cs-style-7 figure img {
	z-index: 10;
}

.cs-style-7 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
}

.cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
	opacity: 1;
	height: 130%;
}

.cs-style-7 figcaption h3 {
	margin-top: 73%;
}

.cs-style-7 figcaption h3,
.cs-style-7 figcaption span,
.cs-style-7 figcaption a {
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
}

.cs-style-7 figcaption a {
	position: absolute;
	bottom: 40px;
	right: 20px;
}

.cs-style-7 figure:hover figcaption h3,
.cs-style-7 figure:hover figcaption span,
.cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}
.footer {
  margin-top: 60px;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
}

.footer p {
  text-align: center;
  line-height: 60px;
  font-size: 1.3em;
}

/*////MEDIA QUERIES////*/

@media all and (min-width: 1279px) and (max-width: 1500px) {
  header h1 {
    font-size: 3em;
  }
  .name {
    display: flex;
    align-content: center;
    width: 65%;
    line-height: 3;
  }
  .nav-div {
    width: 33%;
  }
  .nav {
    margin-left: 30px;
  }
  .nav li {
    padding: 10px 20px;
    font-size: 40px;
  }
  .arrow {
    bottom: 185px;
  }
  section.module.parallax {
    height: 500px;
  }
  section.module.parallax h1 {
    font-size: 120px;
    line-height: 500px
  }
  section.module h2 {
    font-size: 2.5em;
  }
  section.module p {
    font-size: 1.8em;
  }
  section.module.parallax-1 {
    margin-top: -80px;
  }
  .contact-container {
    margin-bottom: 100px;
  }
}

@media all and (min-width: 550px) and (max-width: 600px) {
  header {
    height: 130px;
  }
  header h1 {
    font-size: 2.7em;
  }
  .name {
    display: flex;
    align-content: center;
    width: 50%;
  }
  .nav-div {
    width: 48%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
  }
  .nav {
    margin-left: 0;
    align-items: center;
  }
  .nav li {
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 0px;
  }
  .arrow {
    margin-bottom: 152px;
  }
  .arrow img {
    width: 100px;
    height: 100px;
  }
  section.module.parallax h1 {
    font-size: 100px;
    line-height: 400px
  }
  section.module.parallax-1 {
    margin-top: -85px;
  }
  section.module h2 {
    font-size: 50px;
    margin-left: 30px;
  }
  section.module p {
    font-size: 28px;
    margin-left: 40px;
    margin-right: 30px;
  }
  section.module.parallax {
    height: 400px;
  }
  .moi {
    margin-left: 50px;
    text-align: center;
    height: 360px;
    width: 280px;
  }
  .contact {
    text-align: center;
    margin-bottom: 150px;
  }
  .contact-container {
    flex-direction: column;
  }
}

@media all and (min-width: 414px) and (max-width: 600px) {
  header {
    height: 100px;
  }
  header h1 {
    font-size: 1.9em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 70%;
  }
  .nav-div {
    width: 27%;
  }
  .nav {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .nav li {
    padding: 0px 5px;
    margin-top: 5px;
    margin-left: -10px;
  }
  .nav li a {
    line-height: 1.2;
    padding: 0px 0;
    font-size: 23px;
  }
  .arrow {
    margin-bottom: 152px;
  }
  .arrow img {
    width: 80px;
    height: 80px;
  }
  section.module h2 {
    font-size: 40px;
  }
  section.module p {
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  section.module.parallax h1 {
    font-size: 70px;
    line-height: 400px;
  }
  section.module.parallax-1 {
    margin-top: -55px;
  }
  section.module.parallax {
    height: 400px;
  }
  section.module h2 {
    font-size: 2.1em;
    margin-left: 20px;
    margin-right: 20px;
  }
  .moi {
    margin-left: 50px;
    text-align: center;
    height: 300px;
    width: 210px;
  }
  .contact {
    text-align: center;
  }
  .contact-container {
    flex-direction: column;
  }
  .footer p {
    font-size: 1.5em;
  }
}

@media all and (max-width: 413px) {
  header {
    height: 100px;
  }
  header h1 {
    font-size: 1.6em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 65%;
  }
  .nav-div {
    display: flex;
    align-content: center;
    width: 27%;
  }
  .nav {
    height: 100px;
    margin-left: 0px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    padding: 0px 0px;
    padding-bottom: 5px;
    margin-top: 0px;
  }
  .nav li a {
    line-height: 1;
    padding: 0px 0;
    font-size: 20px;
  }
  .arrow {
    margin-bottom: 151px;
  }
  .arrow img {
    width: 80px;
    height: 80px;
  }
  section.module p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  section.module.parallax {
    height: 300px;
  }
  section.module.parallax-1 {
    margin-top: -50px;
    width: 375px;
  }
  section.module.parallax h1 {
    font-size: 55px;
    line-height: 300px;
  }
  section.module h2 {
    font-size: 1.8em;
    margin-left: 20px;
    margin-right: 20px;
  }
  .moi {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 190px;
    height: 240px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact h1 {
    font-size: 1.5em;
  }
  .contact h2 {
    font-size: 1.3em;
  }
  .footer p {
    font-size: 1em;
  }
}

@media all and (max-width: 360px) {
  header {
    height: 75px;
  }
  header h1 {
    font-size: 1.4em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 62%;
  }
  .nav-div {
    display: flex;
    width: 35%;
  }
  .nav {
    height: 75px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    padding: 0px 0px;
    margin-top: 0px;
  }
  .nav li a {
    line-height: .8;
    padding: 0px 0;
    font-size: 17px;
  }
  .arrow {
    margin-bottom: 8px;
  }
  .arrow img {
    width: 80px;
    height: 80px;
  }
  section.module p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  section.module.parallax {
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
  section.module.parallax-1 {
    margin-top: -50px;
  }
  section.module.parallax h1 {
    font-size: 55px;
    line-height: 300px;
    width: 320px
  }
  section.module h2 {
    font-size: 1.8em;
  }
  .moi {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 190px;
    height: 240px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container h1 {
    font-size: 1.5em;
  }
  .contact h2 {
    font-size: 1.4em;
  }
  .footer p {
    font-size: 1em;
  }
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
    padding: 0;
	}
  .grid figure img {
  	width: 300px;
    height: 200px;
  }
  .grid figcaption {
    margin-left: 0;
    padding: 0;
  }
}
