@import url(https://fonts.googleapis.com/css?family=Bad+Script|Poiret+One);

body {
  margin: 0;
  font-family: "Poiret One", "Avant Garde";
  font-weight: bolder;
}

header {
  display: flex;
  height: 150px;
}

.name {
  width: 60%;
}

header h1 {
  font-family: "Bad Script", "Papyrus";
  margin-left: 40px;
  align-self: center;
  color: #383838;
  opacity: .3;
  font-size: 3em;
}

.div-nav {
  width: 27%;
}

.nav {
  height: 150px;
  margin-right: 0;
  margin-left: 400px;
  display: inline-flex;
}

.nav li {
  align-items: center;
  list-style: none;
  padding: 15px 30px;
  margin-top: 25px;
}

.nav li a {
  line-height: 1.5;
  padding: 10px 0;
  font-size: 30px;
  color: #383838;
  opacity: .8;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: 'Bad Script';
  font-size: 2.7em;
}

section.module p {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 1.6em;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0px;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 140px;
  line-height: 600px;
  font-weight: 700;
  font-family: "Poiret One";
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  margin-top: -115px;
  background-image: url("images/ferns.jpeg");
}

section.module.parallax-2 {
  background-image: url("images/succulents_6.jpeg");
}
section.module.parallax-3 {
  background-image: url("images/vines.jpeg");
}

span {
  font-family: "Bad Script";
}

/*////CONTACT////*/

.contact-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: "Poiret One";
  display: flex;
  flex-direction: row;
}

.social {
  flex-direction: row;
  padding-right: 20px;
}

.moi {
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 50px;
}

.resume {
  font-size: 1.5em;
  text-decoration: none;
}

.resume
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:active {
    text-decoration: none;
    color: black;
  }

/*////PORTFOLIO////*/

.portfolio {
  background-color: #fff;
}

.portfolio-body {
  display: flex;
}

.thumbnails {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumbnails li {
  text-align: center;
  margin: 20px;
  list-style: none;
  border-radius: 6px;
}

.empty-thumbnail {
  background-image: url(images/triangles.jpg);
  width: 460px;
  height: 320px;
  padding-top: 2px;
}

.empty-thumbnail h2 {
  margin-top: 115px;
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
}

.footer p {
  text-align: center;
  line-height: 60px;
  font-size: 1.3em;
}

/*////MEDIA QUERIES////*/

@media all and (min-width: 1280px) and (max-width: 1440px) {
  header h1 {
    font-size: 2.9em;
  }
  .name {
    display: flex;
    align-content: center;
    width: 67%;
  }
  .nav-div {
    width: 32%;
  }
  .nav {
    margin-left: 0;
  }
  .nav li {
    padding: 10px 20px;
    font-size: 20px;
  }
  section.module.parallax {
    height: 500px;
  }
  section.module.parallax h1 {
    font-size: 120px;
    line-height: 500px
  }
  section.module h2 {
    font-size: 2.5em;
  }
  section.module p {
    font-size: 2em;
  }
  section.module.parallax-1 {
    margin-top: -80px;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  header h1 {
    font-size: 2em;
  }
  .name {
    display: flex;
    align-content: center;
    width: 50%;
  }
  .nav-div {
    width: 45%;
  }
  .nav {
    margin-left: 0;
  }
  .nav li {
    padding: 10px 10px;
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 100px;
    line-height: 400px
  }
  section.module h2 {
    font-size: 2em;
  }
  section.module p {
    font-size: 1.3em;
  }
  section.module.parallax {
    height: 400px;
  }
  .moi {
    margin-left: 50px;
    text-align: center;
    height: 300px;
    width: 240px;
  }
  .contact {
    text-align: center;
  }
  .contact-container {
    flex-direction: column;
  }
}

@media all and (min-width: 414px) and (max-width: 765px) {
  header {
    height: 100px;
  }
  header h1 {
    font-size: 1.8em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 70%;
  }
  .nav-div {
    width: 27%;
  }
  .nav {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    padding: 0px 5px;
    margin-top: 5px;
  }
  .nav li a {
    line-height: 1;
    padding: 0px 0;
    font-size: 18px;
  }
  section.module h2 {
    font-size: 30px;
  }
  section.module p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  section.module.parallax h1 {
    font-size: 80px;
    line-height: 400px;
  }
  section.module.parallax-1 {
    margin-top: -50px;
  }
  section.module.parallax {
    height: 400px;
  }
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails li {
    margin-left: 0;
  }
  .thumbnails img {
    width: 300px;
    height: 200px;
  }
  .empty-thumbnail {
    width: 300px;
    height: 200px;
  }
  .moi {
    margin-left: 50px;
    text-align: center;
    height: 300px;
    width: 210px;
  }
  .contact {
    text-align: center;
  }
  .contact-container {
    flex-direction: column;
  }
}

@media all and (min-width: 385px) and (max-width: 413px) {
  header {
    height: 100px;
  }
  header h1 {
    font-size: 1.8em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 70%;
  }
  .nav-div {
    width: 27%;
  }
  .nav {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    padding: 0px 5px;
    margin-top: 5px;
  }
  .nav li a {
    line-height: 1;
    padding: 0px 0;
    font-size: 18px;
  }
  section.module p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  section.module.parallax {
    height: 300px;
  }
  section.module.parallax-1 {
    margin-top: -50px;
  }
  section.module.parallax h1 {
    font-size: 50px;
    line-height: 300px;
  }
  section.module h2 {
    font-size: 1.8em;
  }
  .footer p {
    font-size: .9em;
  }
  .moi {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 190px;
    height: 240px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container h1 h2{
    font-size: 1em;
  }
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails li {
    margin-left: 0;
  }
  .thumbnails img {
    width: 300px;
    height: 200px;
  }
  .empty-thumbnail {
    width: 300px;
    height: 200px;
  }
}

@media all and (max-width: 384px) {
  header {
    height: 100px;
  }
  header h1 {
    font-size: 1.4em;
    margin-left: 20px;
  }
  .name {
    display: flex;
    align-content: center;
    width: 65%;
  }
  .nav-div {
    display: flex;
    align-content: center;
    width: 27%;
  }
  .nav {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    padding: 0px 5px;
    margin-top: 5px;
  }
  .nav li a {
    line-height: 1;
    padding: 0px 0;
    font-size: 18px;
  }
  section.module p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  section.module.parallax {
    height: 300px;
  }
  section.module.parallax-1 {
    margin-top: -50px;
  }
  section.module.parallax h1 {
    font-size: 50px;
    line-height: 300px;
  }
  section.module h2 {
    font-size: 1.8em;
  }
  .contact-container h1 {
    font-size: 1.5em;
  }
  .thumbnails li {
    margin-left: -35px;
    margin-right: 0px;
  }
}
